Applications will open in Q1 2010

- form_for @entry do |f|
  
  /Company Name
  %p.left
    = f.label :company_name, "Company/Idea Name"
    %br
    = f.text_field :company_name, :style => "width: 300px;"

  %p.left.left_margin_15
    = f.label :url, "URL (project or other)"
    %br
    = f.text_field :url, :style => "width: 343px;"

  .clear
  
  /Contact
  %p.left
    = f.label :name, "Your Name"
    %br
    = f.text_field :name, :style => "width: 300px;"
  
  %p.left.left_margin_15
    = f.label :email, "Email"
    %br
    = f.text_field :email, :style => "width: 343px;"
  
  .clear
  
  /Application
  /   Product
  %p
    = f.label :product, "Describe your product (200 words)"
    %br
    = f.text_area :product, :rows => 5
    
  %p
    = f.label :customer, "What tools are you using to build it?"
    %br
    = f.text_area :customer, :rows => 5
    
  /   Customers
  %p
    = f.label :goals, "Describe your customer (200 words)"
    %br
    = f.text_area :goals, :rows => 5

  /  Team
  %p
    = f.label :team, "Who is working on this?"
    %br
    = f.text_area :team, :rows => 3
    
  %p
    = f.label :team, "What's The most important thing we need to know about you?"
    %br
    = f.text_area :team, :rows => 5
  