%h2
  ScaleWell NU Trustees

%p

  ScalewellNU is looking for a group of trustees to donate their time and money to this grant. 
  As a trustee, you should have business experience, 
  a connection to Evanston or Northwestern, 
  and a desire to help fellow entrepreneurs.

%h2
  Interested in becoming a ScaleWell NU Trustee?

The responsibilities of a trustee are not trivial, but are flexible enough to fit in with your other responsibilities.
Each trustee contributes $100 to the funding of each ScaleWell NU grant. 
Trustees are also mentors for the recipient and are asked to be available to discuss goals with the recipient, 
holding a meeting if necessary. 
The trustees jointly choose the recipient of each ScaleWell NU grant, 
participation in the application selection process is recommended but not required. 
The awarding of a ScaleWell NU grant will often happen at a community building event. 
Trustees are invited to these events and encouraged to attend. 

%p
  Please fill in your contact information and we will contact you personally about the sign-up process

- form_for @trustee do |f|
  %p.left
    = f.label :name, "Name"
    %br
    = f.text_field :name, :style => "width: 100px;"
  %p.left.left_margin_15
    = f.label :email, "Email"
    %br
    = f.text_field :email, :style => "width: 100px;"
  %p.left.left_margin_15
    = f.label :url, "Url"
    %br
    = f.text_field :url, :style => "width: 100px;"
  %p.left.left_margin_15
    = f.label :organization, "Organization"
    %br
    = f.text_field :organization, :style => "width: 150px;"
  %p.left.left_margin_15
    = f.label :twitter, "Twitter"
    %br
    = f.text_field :twitter, :style => "width: 100px;"
    
  = submit_tag 'Submit', { :id => 'submitbutton', :style => "width: 100px;" }


%h2
  ScaleWell NU Trustees

%ul#trustees
  %li
    = link_to "Timothy Rooney", ""
    
%h2
  ScaleWell Trustees

%ul#trustees
  %li
    = link_to "Andy Angelos (Social Dev Camp Chicago)", "http://barcamp.pbworks.com/SocialDevCampChicago"
    = link_to "@andyangelos", "http://www.twitter.com/andyangelos"
  %li
    = link_to "Sean Corbett (HaveMyShift)", "http://stcorbett.com"
    = link_to "@stcorbett", "http://www.twitter.com/stcorbett"
  %li
    = link_to "Ziad Hussain", "http://www.popghost.com"
    = link_to "@ziadbc", "http://www.twitter.com/ziadbc"
  %li
    = link_to "Harper Reed", "http://www.nata2.org"
    = link_to "@harper", "http://www.twitter.com/harper"
  %li
    = link_to "Kevin Taylor (Obtiva)", "http://obtiva.com"
    = link_to "@ktaylor", "http://www.twitter.com/ktaylor"
  %li
    = link_to "Joshua Karp (The Printed Blog Inc.)", "http://www.theprintedblog.com"
    = link_to "@jkarp", "http://www.twitter.com/@jkarp"
  %li
    = link_to "Kevin Willer", ""
    = link_to "@kwiller", "http://www.twitter.com/@kwiller"
  %li
    = link_to "Fred Hoch (Illinois Technology Association)", "http://illinoistech.org"

.clear
