%h2
  ScaleWell Trustees

%p
  We are a group of entrepreneurs with ties to Chicago.
  We have various levels of experience but most of us have started at least one company with a scalable business model.


%h2
  Interested in becoming a ScaleWell Trustee?

The responsibilities of a trustee are not trivial, but are flexible enough to fit in with your other responsibilities.
Each trustee contributes $100 to the funding of each ScaleWell grant. 
Trustees are also mentors for the recipient and are asked to be available to discuss goals with the recipient, 
holding a meeting if necessary. 
The trustees jointly choose the recipient of each ScaleWell grant, 
participation in the application selection process is recommended but not required. 
The awarding of a ScaleWell grant will often happen at a community building event. 
Trustees are invited to these events and encouraged to attend. 

%p
  Send us some links to your online identity and we will get in touch when the next grant is being organized.

- form_for @trustee do |f|
  %p.left
    = f.label :name, "Name"
    %br
    = f.text_field :name, :style => "width: 100px;"
  %p.left.left_margin_15
    = f.label :email, "Email"
    %br
    = f.text_field :email, :style => "width: 100px;"
  %p.left.left_margin_15
    = f.label :url, "Url"
    %br
    = f.text_field :url, :style => "width: 100px;"
  %p.left.left_margin_15
    = f.label :organization, "Organization"
    %br
    = f.text_field :organization, :style => "width: 150px;"
  %p.left.left_margin_15
    = f.label :twitter, "Twitter"
    %br
    = f.text_field :twitter, :style => "width: 100px;"
    
  = submit_tag 'Submit', { :id => 'submitbutton', :style => "width: 100px;" }


%h2
  Current Trustees

%ul#trustees
  %li
    = link_to "Andy Angelos (Social Dev Camp Chicago)", "http://barcamp.pbworks.com/SocialDevCampChicago"
    = link_to "@andyangelos", "http://www.twitter.com/andyangelos"
  %li
    = link_to "Sean Corbett (HaveMyShift)", "http://stcorbett.com"
    = link_to "@stcorbett", "http://www.twitter.com/stcorbett"
  %li
    = link_to "Office Port Chicago", "http://www.officeportchi.com"
    = link_to "@OfficePort", "http://twitter.com/OfficePort"
  %li
    = link_to "Harper Reed", "http://www.nata2.org"
    = link_to "@harper", "http://www.twitter.com/harper"
  %li
    = link_to "Ziad Hussain", "http://www.popghost.com"
    = link_to "@ziadbc", "http://www.twitter.com/ziadbc"
  %li
    = link_to "Zishan Ahmad", "#"
    = link_to "@zishanahmad", "http://www.twitter.com/zishanahmad"
  %li
    = link_to "rishi (Flying Cart LLC)", "http://gettingmoreawesome.blogspot.com/"
    = link_to "@risk", "http://www.twitter.com/risk"
  %li
    = link_to "philip tadros (doejo)", "http://doejo.com"
    = link_to "@philcoextra", "http://www.twitter.com/philcoextra"
  %li
    = link_to "Alex Bratton (Lextech Global Services)", "http://lextech.com"
    = link_to "@alexbratton", "http://www.twitter.com/@alexbratton"
  %li
    = link_to "Dharmesh Patel (ReleaseQ)", "http://www.releaseQ.com"
    = link_to "@dbpatel219", "http://www.twitter.com/dbpatel219"
  %li
    = link_to "Pete Morano (KeyLimeTie, llc)", "http://www.keylimetie.com"
    = link_to "@petermorano", "http://www.twitter.com/@petermorano"
  %li
    = link_to "Sean Johnson (Jelly Chicago)", "http://www.sean-johnson.com"
    = link_to "@intentionally", "http://www.twitter.com/@intentionally"
  %li
    = link_to "Paul Roales (PSVF)", "http://proales.com"
    = link_to "@paulroales", "http://www.twitter.com/paulroales"
  %li
    = link_to "Tyler Willis (Involver)", "http://www.tylerwillis.net"
    = link_to "@tylerwillis", "http://www.twitter.com/tylerwillis"
  %li
    = link_to "Brent Dicus (Angelo's Posse)", "#"
  %li
    = link_to "Kevin Taylor (Obtiva)", "http://obtiva.com"
    = link_to "@ktaylor", "http://www.twitter.com/ktaylor"
  %li
    = link_to "Rohit Nallapeta", "#"
    = link_to "@rohi81", "http://www.twitter.com/rohi81"
  %li
    = link_to "Nikhil Sethi (blurtt.com)", "http://www.blurtt.com"
    = link_to "@nsethi", "http://www.twitter.com/nsethi"
  %li
    = link_to "Griffin Caprio (1530 Technologies, Inc.)", "http://blog.1530technologies.com"
    = link_to "@gcaprio", "http://www.twitter.com/gcaprio"
  %li
    = link_to "Stephen Wooten", "http://stephenwooten.com"
    = link_to "@quigebo", "http://www.twitter.com/@quigebo"
  %li
    = link_to "Jim Trahanas (Xim Inc. )", "http://www.getxim.com"
  %li
    = link_to "Paul Hieromnimon(Xim Inc.)", "http://www.getxim.com"
  %li
    = link_to "Joshua Karp (The Printed Blog Inc.)", "http://www.theprintedblog.com"
    = link_to "@jkarp", "http://www.twitter.com/@jkarp"
  %li
    = link_to "Kevin Willer", ""
    = link_to "@kwiller", "http://www.twitter.com/@kwiller"
  %li
    = link_to "Fred Hoch (Illinois Technology Association)", "http://illinoistech.org"

.clear
