%h2
  Who is putting this together?

%p
  We are a group of entrepreneurs with ties to Chicago.
  We have various levels of experience but most of us have started at least one company with a scalable business model.

%ul#trustees
  %li
    = link_to "Andy Angelos (Social Dev Camp Chicago)", "http://barcamp.pbworks.com/SocialDevCampChicago"
    = link_to "@andyangelos", "http://www.twitter.com/andyangelos"
  %li
    = link_to "Sean Corbett (HaveMyShift)", "http://stcorbett.com"
    = link_to "@stcorbett", "http://www.twitter.com/stcorbett"
  %li
    = link_to "Office Port Chicago", "http://officeportkc.com/chicago/"
    = link_to "@OfficePort", "http://twitter.com/OfficePort"
  %li
    = link_to "Harper Reed", "http://www.nata2.org"
    = link_to "@harper", "http://www.twitter.com/harper"
  %li
    = link_to "Ziad Hussain", "http://www.popghost.com"
    = link_to "@ziadbc", "http://www.twitter.com/ziadbc"


%h2
  Want to help?

Send us some links to your online identity and we will get in touch when the next grant is being organized.

- form_for @trustee do |f|
  %p.left
    = f.label :name, "Name"
    %br
    = f.text_field :name, :style => "width: 100px;"
  %p.left.left_margin_15
    = f.label :email, "Email"
    %br
    = f.text_field :email, :style => "width: 100px;"
  %p.left.left_margin_15
    = f.label :url, "Url"
    %br
    = f.text_field :url, :style => "width: 100px;"
  %p.left.left_margin_15
    = f.label :organization, "Organization"
    %br
    = f.text_field :organization, :style => "width: 150px;"
  %p.left.left_margin_15
    = f.label :twitter, "Twitter"
    %br
    = f.text_field :twitter, :style => "width: 100px;"
    
  = submit_tag 'Submit', { :id => 'submitbutton', :style => "width: 100px;" }


.clear
