<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= @title ||= "Scale Well | Funding Traction in Scalable Businesses" %></title>

  <%= stylesheet_link_tag "styles" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "curvycorners" %>
  
  <script type="text/JavaScript"> 
    window.onload = function() {
      var settings = {
        tl: { radius: 10 },
        tr: { radius: 10 },
        bl: { radius: 10 },
        br: { radius: 10 },
        antiAlias: true
      } 
      
      var divObj = document.getElementById("container"); 
      var divObj2 = document.getElementById("leftcolumn"); 
      
      curvyCorners(settings, divObj, divObj2);
    }

  </script>
</head>

<body class="oneColFixCtr">

<div id="container">
  <%= render :partial => "layouts/navigation"%>
  <div id="headline">
    <% @page_title ||= "ScaleWell" -%>
    <span class="pagetitle"><%= link_to @page_title, home_path %></span>
    <%= @sub_title ? "<h1>#{@sub_title}</h1>" : nil %>
  </div>
  <div id="rightcolumn">
    <%= render :partial => "layouts/right_col"%>
  </div>
  <div id="leftcolumn">
    <%= yield %>
  </div>
  <div class="clear">&nbsp;</div>
<!-- end #container --></div>
<div id="footer">
  <%= render :partial => "layouts/footer" %>
</div>
</body>
</html>